<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>mybadtweets</title>
</head>
<body>
  <header>
    <div class='title'>
      <h1>my worst tweets dot com</h1>
    </div>
    <span class='menu'>
      <button class='settings'>settings</button>
      <button class='logout' onclick='window.location.href = "auth/logout"'>logout</button>
    </span>
  </header>
  <div class='container'>
    <div class='description'>
      <h4>are your tweets bad? you know they are. have you ever wondered what the worst of them are? you've come to the right place. to get started sign in with twitter below</h4>
    </div>
    <div class='signin'>
      <a href="auth/">SIGN IN WITH TWITTER!!!</a>
    </div>
    <div class='leave'>
      <a href="javascript:history.back()">i want to leave actually</a>
    </div>
  </div>
  <footer>
    <p>made by julienne 'juno tesoro' tesoro</p>
    <p>add contact links n shit here lol idk</p>
  </footer>
</body>
</html>
