<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/common.css" />
    <link rel="stylesheet" href="styles/index.css" />
    <title>MYBADTWEETS</title>
  </head>
  <body>
    <div
      id="content"
      class="flex items-start justify-center h-screen w-screen font-body"
    >
      <div
        id="wrapper"
        class="relative w-full h-auto m-auto flex flex-wrap items-center content-around justify-center text-center"
      >
        <header id="title" class="w-full mx-auto">
          <span
            class="w-auto m-auto font-bold sm:text-title-sm nm:text-title-nm text-shadow-title hover:tracking-default transition-letter-spacing transition-1000 cursor-default"
            >MYBADTWEETS</span
          >
          <h2
            id="subtitle"
            class="w-auto m-auto pt-2 sm:subtitle-sm nm:text-lg font-bold"
          >
            .・゜゜・.・゜゜・ YOU GOT TWEETS? ・゜゜・．・゜゜・．
          </h2>
        </header>
        <main class="w-6/12 m-auto pt-4">
          <p>
            some, if not all of them are likely bad! with mybadtweets, you can
            view the worst of your tweets and curate them to ensure you're
            delivering content of only the highest quality to your followers.
          </p>
          <p class="font-bold pt-4 mb-4">CLICK BELOW TO GET STARTED!</p>
          <a
            href="/auth"
            class="btn inline-block m-button p-button border-black border-solid border-tweet shadow text-xs cursor-pointer hover:text-shadow-tweet hover:tracking-button hover:font-bold"
            >SIGN IN WITH TWITTER</a
          >
        </main>
      </div>
    </div>
  </body>
</html>
