<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>mybadtweets</title>

  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/index.css">

</head>
<body>
  <header>
    <div class='title'>
      <h1>mybadtweets™</h1>
    </div>
    <span class='menu'>
      <button class='settings'>settings</button>
      <% if (user) {%>
      <button class='logout' onclick='window.location.href = "auth/logout"'>logout</button>
      <% } %>
    </span>
  </header>
  <div class='container'>
    <div class='description'>
      <h3>YOU'VE SUCCESSFULLY REACHED THE MYBADTWEETS™ HOMEPAGE!</h3>
      <h4>are your tweets bad? you know they are. have you ever wondered what the worst of them are? have i got the service for you. to get started sign in with twitter below</h4>
      <div class='buttoncontainer'>
        <div class='signin button'>
          <a href="auth/">SIGN IN WITH TWITTER!!!</a>
        </div>
        <div class='leave button'>
          <a href="javascript:history.back()">i want to leave actually</a>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <p>made by julienne 'juno tesoro' tesoro</p>
  </footer>
  <script src='scripts/index-buttons.js'></script>
  <!-- <script src='./static/scripts/title.js'></script> -->
</body>
</html>
