<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="mbt.css">
  <title>MYBADTWEETS</title>
</head>
<body>

  <div id="content" class="flex items-start justify-center h-screen w-screen font-body">
    <div id="wrapper" class="relative w-full h-auto m-auto flex flex-wrap items-center content-around justify-center text-center">
      <div id="title" class="w-full mx-auto">
        <span class="w-auto font-bold sm:text-title-sm nm:text-title-nm text-shadow-title hover:tracking-default transition-letter-spacing transition-1000 cursor-default">MYBADTWEETS</span>
        <h2 class="m-4 font-bold sm:subtitle-sm nm:text-lg">HERE ARE THOSE SHITTY TWEETS YOU ORDERED</h2>
      </div>
      <div id="slide" class="flex items-center justify-center w-full mx-auto">
        <div id="prev" class="text-page hover:text-shadow-page transition-text-shadow transition-300 cursor-pointer"><</div>
        <div id="tweet" class="w-7/10 mx-8 mt-2 mb-6 p-5 border-black border-solid border-tweet shadow">
          <p class="my-1em">on <span id="date">jan 25, 2020</span> you tweeted:</span></p>
          <a href="#" target="_blank "id="tweet-text" class="text-2xl font-bold text-shadow-tweet hover:text-shadow-tweet-hover transition-text-shadow transition-200">"i am a bird trapped in a human body sources: -likes bugs - makes many tweet - cats are drawn to me - wilds out at 4am"</a>
          <p class="my-1em">and it received <span id="like-count" class="font-bold animation-rainbow animation-800">2</span> likes!</p>
          <br>
          <p id="message" class="my-1em italic">THIS WAS JUST BAD I DON'T EVEN HAVE ANYTHING ELSE TO SAY</p>
        </div>
        <div id="next" class="text-page hover:text-shadow-page transition-text-shadow transition-300 cursor-pointer">></div>
      </div>
      <div id="panel" class="w-3/5 mx-auto flex flex-wrap items-stretch content-center justify-around">
        <div id="delete-btn" class="btn inline-block m-button p-button border-black border-solid border-tweet shadow text-xs cursor-pointer hover:text-shadow-tweet hover:tracking-button hover:font-bold">DELETE IT!</div>
        <div id="retweet-btn" class="btn inline-block m-button p-button border-black border-solid border-tweet shadow text-xs cursor-pointer hover:text-shadow-tweet hover:tracking-button hover:font-bold">BUMP IT!</div>
        <div id="progress" class="w-full text-xs py-4"><span id="tweet-index">1</span> OUT OF <span id="tweet-count">46</span></div>
        <div id="logout" class="w-auto text-xs py-0 cursor-pointer hover:text-shadow-tweet transition-text-shadow transition-250">LOGOUT</div>
      </div>
    </div>
  </div>
  <div id="modal-bg" class="fixed flex bg-modal w-screen h-screen inset-0 hidden">
    <div id="modal" class="relative w-1/4 m-auto p-5 bg-white opacity-100 border-black border-solid border-tweet shadow font-body text-center">
      <span id="modal-close" class="absolute right-375 top-0 text-sm cursor-pointer hover:text-shadow-tweet transition-text-shadow transition-250">x</span>
      <p id="modal-message" class="text-xs italic font-bold">ARE YOU SURE?</p>
      <br>
      <div id="modal-options" class="flex items-stretch content-center justify-around text-xs">
        <span id="yes" class="btn cursor-pointer hover:text-shadow-tweet hover:tracking-button">YES</span>
        <span id="no" class="btn cursor-pointer hover:text-shadow-tweet hover:tracking-button">NO</span>
      </div>
    </div>
  </div>
</body>
</html>