<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>mybadtweets</title>

  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/common.css">

</head>
<body>
  <header>
    <div class='title'>
      <h1>mybadtweets™</h1>
    </div>
    <span class='menu'>
      <button class='settings'>settings</button>
      <% if (user) {%>
      <button class='logout' onclick='window.location.href = "auth/logout"'>logout</button>
      <% } %>
    </span>
  </header>
  <div class='container'>
    <h3>now displaying twitter user <%= user.username%>'s SHITTIEST tweets!</h3>
    <ul>
      <% tweets.forEach(function (tweet) { %>
        <li data-tweetid='<%= tweet.id_str %>'><%= tweet.full_text %>
          <button class='delete'>tweetus deletus</button>
          <button class='retweet'>bump that shit</button>
        </li>
      <% }); %>
    </ul>
  </div>
  <footer>
    <p>made by julienne 'juno tesoro' tesoro</p>
  </footer>
  <script src='scripts/index-buttons.js'></script>
  <!-- <script src='./static/scripts/title.js'></script> -->
</body>
</html>
