<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>mybadtweets</title>
</head>
<body>
  <header>
    <div class='title'>
      <h1>my worst tweets dot com</h1>
    </div>
    <span class='menu'>
      <button class='settings'>settings</button>
    </span>
  </header>
  <div class='container'>
    <h3>now displaying twitter user <%= user.username%>'s SHITTIEST tweets!</h3>
    <ul>
      <% tweets.forEach(function (tweet) { %>
        <li><%= tweet.full_text %></li>
        <button class='delete' data-tweetid='<%= tweet.id %>'>tweetus deletus</button>
      <% }); %>
    </ul>
  </div>
  <footer>
    <p>made by julienne 'juno tesoro' tesoro</p>
    <p>add contact links n shit here lol idk</p>
  </footer>
  <script src='./views/scripts/delete.js'></script>
</body>
</html>
