.container {
  padding-top: 3rem;
  padding-bottom: 4.0625rem;
  margin: auto;
  text-align: center;
}

.description {
  width: 60%;
  margin: auto;
  padding: 0.625rem 3.125rem 4vh 3.125rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 7.5rem;
  left: 0;
  right: 0;
  height: 50%;
  vertical-align: center;
  text-align: center;
}

.description h3 {
  margin: 0.625rem auto;
  background-color: #fff;
}

.description h4 {
  margin: 0.625rem auto 2.5rem auto;
  background-color: #fff;
}

.button {
  display: inline-block;
  margin: 0.9375rem;
  border: 0.0625rem solid #000;
  padding: 0.9375rem;
  box-shadow: -0.0625rem -0.0625rem #000;
  cursor: pointer;
  background-color: #fff;
}

.button a {
  text-decoration: none;
  font-size: 0.875rem;
}
